<div class="mx-auto max-w-7xl p-6 space-y-6">
    <!-- Employees -->
    <section
        class="w-full md:flex-1 min-w-0 rounded-xl border bg-white p-6 shadow-sm"
    >
        <h2 class="mb-4 text-xl font-semibold">Employees</h2>
        <app-employee-form (add)="addEmployee($event)" />

        @let attendances = (attendances$ | async) ?? [];
        @if (attendances.length === 0) {
            <div class="mt-5 flex items-center justify-center">
                <p>No employees added.</p>
            </div>
        } @else {
            <div class="mt-4 flex flex-col">
                @for (attendance of attendances; track attendance.employee.id) {
                    <app-employee-card
                        class="mb-1"
                        [employee]="attendance.employee"
                        (remove)="removeEmployee(attendance.employee.id)"
                    />
                }
            </div>
        }
    </section>

    <!-- Calendar -->
    <section class="rounded-xl border bg-white p-6 shadow-sm">
        <h2 class="text-xl font-semibold">Calendar</h2>
        <div class="flex flex-row gap-10">
            <mat-calendar class="flex-1" />
            <!-- Holidays -->
            <section class="w-full md:flex-1 min-w-0">
                <h2 class="mb-4 text-lg font-semibold">Holidays</h2>
                <div
                    class="mb-6 flex h-48 items-center justify-center rounded-lg border-2 border-dashed"
                >
                    Holiday List Placeholder
                </div>
                <div
                    class="flex h-32 items-center justify-center rounded-lg border-2 border-dashed"
                >
                    Add Custom Holiday Placeholder
                </div>
            </section>
            <!-- Absences -->
            <section class="w-full md:flex-1 min-w-0">
                <h2 class="mb-4 text-lg font-semibold">Absences</h2>
                <div
                    class="mb-6 flex h-48 items-center justify-center rounded-lg border-2 border-dashed"
                >
                    Holiday List Placeholder
                </div>
                <div
                    class="flex h-32 items-center justify-center rounded-lg border-2 border-dashed"
                >
                    Add Custom Holiday Placeholder
                </div>
            </section>
        </div>
    </section>

    <!-- PDF -->
    <section class="flex justify-end">
        <button
            class="rounded-lg bg-blue-600 px-6 py-3 font-medium text-white hover:bg-blue-700"
        >
            Generate PDF
        </button>
    </section>
</div>
